@media (max-width: 576px)  {
    body{
        background-color: #fff;
    }
    .navbar{
        padding: 15px 20px;
        justify-content: space-between;
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 100;
        box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
    }
    nav .nav-left{
        justify-content: space-evenly;
        margin-bottom: 9px;
    }
    nav .nav-left img{
        width: 30px;
        margin-left: 10px;
    }
    .navbar-input{
        background-color: #eff2f5;
        padding: 10px;
        margin-left: 10px;
        border-radius: 999px;
    }
    .navbar-input i{
        color:#70757a ;
    }
    .navbar-input input{
        border: none;
        background-color: transparent;
        outline-width: 0;
    }
    .nav-middle{
        flex: 1;
    }
    .mid-item{
        font-size:25px;
        padding: 0 16px;
       text-align: left;
        cursor: pointer;
    }
    .mid-item i:hover{
        color: #2e81f4;
    }
    .mid-item i{
        color: black;
    }
    .mid-item.active i{
        color: #2e81f4;
    }
    .mid-item.active{
        border-bottom: 3px solid #2e81f4;
    }
    .mid-item:hover{
        background-color: #eff2f5;
        border-radius: 10px;
        align-items: center;
        padding: 0 30px;
        border-bottom: none;
    }
    .mid-item:nth-child(4){
        display: none;
    }
    .nav-right{
        align-items: center;
        cursor: pointer;
    }
    .nav-right .nav .nav-item{
        border-radius: 50%;
        justify-content: center;
        padding-top: 7px; 
        text-align: center;
        width: 33px;
        background-color: #fff;
    }
    .nav-item i{
        color: #000;
    }
    .user-acount{
        border-radius: 50%;
        width: 40px;
        position: relative;
    }
    .acount .user-acount{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .left-sidebar{
       display: none;
    }
    .main-sidebar{
        width: 100%;
    }
    .services{
        width: 100%;
        margin-left: 0;
        justify-content: center;
    }
    .col-6{
       width: 50%;
       margin-left: 0;
    }
}

@media (min-width: 767px) and (max-width: 991px){
    body{
        background-color: #fff;
    }
    .navbar{
        padding: 15px 20px;
        justify-content: space-between;
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 100;
        box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
    }
    nav .nav-left{
        justify-content: space-evenly;
        margin-bottom: 9px;
    }
    nav .nav-left img{
        width: 30px;
        margin-left: 10px;
    }
    .navbar-input{
        background-color: #eff2f5;
        padding: 10px;
        margin-left: 10px;
        border-radius: 999px;
    }
    .navbar-input i{
        color:#70757a ;
    }
    .navbar-input input{
        border: none;
        background-color: transparent;
        outline-width: 0;
    }
    .nav-middle{
        flex: 1;
    }
    .mid-item{
        font-size:25px;
        padding: 0 16px;
       text-align: left;
        cursor: pointer;
    }
    .mid-item i:hover{
        color: #2e81f4;
    }
    .mid-item i{
        color: black;
    }
    .mid-item.active i{
        color: #2e81f4;
    }
    .mid-item.active{
        border-bottom: 3px solid #2e81f4;
    }
    .mid-item:hover{
        background-color: #eff2f5;
        border-radius: 10px;
        align-items: center;
        padding: 0 30px;
        border-bottom: none;
    }
    .mid-item:nth-child(4){
        display: none;
    }
    .nav-right{
        align-items: center;
        cursor: pointer;
    }
    .nav-right .nav .nav-item{
        border-radius: 50%;
        justify-content: center;
        padding-top: 7px; 
        text-align: center;
        width: 33px;
        background-color: #fff;
    }
    .nav-item i{
        color: #000;
    }
    .user-acount{
        border-radius: 50%;
        width: 40px;
        position: relative;
    }
    
    .left-sidebar{
       display: none;
    }
    .main-sidebar{
        width: 100%;
    }
    .services{
        width: 100%;
        margin-left: 0;
        justify-content: center;
    }
    .col-md-4{
       width: 33%;
       margin-left: 0;
    }
    .col-md-4 a{
        text-decoration: none;
        cursor: pointer;
        color: #000;
    }
    .col-md-4 img{
        border-radius: 3px;
        width: 100%;
        text-align: center;
    }

}