@media (max-width: 576px)  {
    body{
        background-color: #fff;
    }
    .row .col-md-6 .logo {
        padding: 0 0 0;
        text-align: center;
    }
    .row .col-md-6 .logo img{
        height: 92px;
        margin-top: -110px;
    }
    .row .col-md-6 .para{
        display: none;
    }
    .row .col-md-5 .content{
        display: block;
        margin-top : -50px;
        height: 456px;
        justify-content: center;
        width: 396px;
    }
    .col-md-5 .box{
        align-items: center;
        background-color: #fff;
        padding-bottom: 0; 
        padding-top: 0px; 
        margin-left: -50px;
    }
    .page{
        margin-top: 28px;
        margin-left: -50px;
    }
}

@media (min-width: 767px) and (max-width: 991px){
    body{
        background-color: #fff;
    }
    .row .col-md-6 .logo {
        padding: 0 0 0;
        text-align: center;
        margin-right: -320px;
    }
    .row .col-md-6 .logo img{
        height: 92px;
        margin-top: -110px;
    }
    .row .col-md-6 .para{
        display: none;
    }
    .row .col-md-5 .content{
        display: block;
        height: 456px;
        justify-content: center;
        width: 396px;
        margin-top: 50px;
        /* margin-left: -200px; */
    }
    .col-md-5 .box{
        align-items: center;
        background-color: #fff;
        padding-bottom: 0; 
        padding-top: 0px; 
        margin-left: -280px;
    }
    .form-control{
        background-color: rgba(220, 220, 220, 0.966);
        border: 1px solid #dddfe2;
        font-size: 17px;
        justify-content: center;
        padding: 0px 0px;
        width: 330px; 
        color: #1d2129;
    }
    .btn{
        background-color: #1877f2;
        border: none;
        text-align: center;
        border-radius: 6px;
        font-size: 20px;
        line-height: 48px;
        width: 332px;
    }
    .line{
        align-items: center;
        border-bottom: 1px solid #dadde1;
        display: flex;
        margin: 10px;
        text-align: center;
    }
    .row .col-md-5 .btn2{
        display: flex;
    }
    .row .col-md-5 .btn2 a{
        justify-content: center;
        margin-left: 75px; 
    }
    .forgot{
        margin-left: -180px;
    }
    .page{
        display: block; 
        padding-top: 0;
        margin-left: -350px;
    }
}
